# Data analysis

In [8]:
import pandas as pd, math

tcdata = pd.read_csv('data/nat-conv-T.csv')
tcdata.head()

   Location (cm)  Temperature (C)
0              1               31
1              5               34
2             10               42
3             20               45
4             30               47

In [9]:
meanTs = round(tcdata['Temperature (C)'].mean(),0)
print(meanTs)

38.0

## Heat transfer coefficient

As per Newton's law of cooling, $\dot{q}'' = h\Delta T$, we can get $h$ (W/m{sup}`2`) given $T_\infty$ and $\dot{q}''$. At steady state, convective heat loss from the cylinder is equal to the heat input from the heater -- **45 W** for this data set. The length and diameter of the cylinder are 50 cm and 3.8 cm respectively.

$T_\infty$ was measured to be **31{sup}`o`C** for this data set.

In [10]:
fluxQ = round(50/( (math.pi)*0.038*0.50 ),0)
print(fluxQ)

838.0

In [11]:
tcAmb=31
h=round(fluxQ/(meanTs-tcAmb),0)
print(h)

120.0